<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 權限聲明：這些是藍牙相關的權限 -->
    <!-- BLUETOOTH 和 BLUETOOTH_ADMIN 用於舊版藍牙操作，maxSdkVersion=30 表示在Android 11 (API 30) 以下有效 -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <!-- ACCESS_FINE_LOCATION 和 ACCESS_COARSE_LOCATION 用於藍牙掃描的位置權限，maxSdkVersion=30 表示在Android 11以下有效 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="30" />
    <!-- usesPermissionFlags="neverForLocation" 表示掃描時不使用位置資訊 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PETFilamentRecycler">
        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ControlActivity"
            android:exported="false"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".LogActivity"
            android:exported="false"
            android:launchMode="standard" />
    </application>

</manifest>